

<div class="control-group">
  <%= label_tag :"Team Name", nil, :class => "control-label" %>
  <%= @my_team.name %>
</div>
<%= form_tag team_path(@my_team) , :name => "team_form", :id=>"team_form",:class => "formset", :method => "put" ,  :multipart => true do %>
<div class="control-group">
  <%= label_tag :"Team Description", nil, :class => "control-label"%>
  <div class="controls">
  <%= text_area_tag(:desc, @my_team.desc, :class => " input-xlarge team_data",  :"data-rules" => "max_length[80]", :"data-name" =>"TeamDesc", :id=>"TeamDesc" ) %>
    <p class="help-block"></p>
  </div>
</div>

    <label>Team Logo</label>
<img class="team avatar" src= '<%= @my_team.image_url %>'>
<div class='control-group' style='margin-bottom:0'>
<div class="controls">
  <%= file_field_tag :image, :class => "medium", :size => "30" %>
 <p class="help-block"></p>
</div>
</div>

<div class='backend control-group'>
  <p class="help-block"></p>
</div>

<div class="clearfix">
  <div class="input">
    <%= submit_tag "Update", :class => "btn" %>
  </div>
</div>
<% end %>
<a href='<%= team_path(@my_team) %>' id="delete_team" class='btn btn-danger'>Delete team</a>
