<a class="btn space_top" data-toggle="modal" href="#pendingJoinReqModal" >Pending Join Requests From Users  <span class="notification"><%= @requests.length %></span></a>

<div class="modal hide" id="pendingJoinReqModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Pending requests from users to join your team</h3>
  </div>
  <div class="modal-body" style="overflow:scroll;height:250px;">
    <%-if @requests.count > 0 %>
      <% if @my_team.member_count == 4 %> 
        You Cannot any members now as your team is full.
      <% end %> 
      <% @requests.each do |request| %>
      <div class="row-fluid space_top">
        <div class="span2">
          <img class="small-avatar" src ='<%= @members[request.user_id].avatar %>'>
        </div>
        <div class="span4">
          <h3><%= @members[request.user_id].name %></h3>
          <% if @my_team.member_count < 4 %> 
            <a href='<%= accept_path(request.user_id) %>' class='btn owner_decides'>Accept</a> 
          <% end %>
          <a href='<%= decline_path(request.user_id) %>' class='btn owner_decides'>Decline</a>
        </div>
        <div class="span6">
          <a href='http://github.com/<%= @members[request.user_id].handle %>'><h3><%= @members[request.user_id].handle %></h3></a>
          <h3> <%= @members[request.user_id].email %> </h3>
        </div>
      </div>
    <% end %>

    <%-else %>
      <p>There are no outstanding requests to join your team at this time.</p>
    <%-end%>
  
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


