<div class="side_icons">

    <div class="h">
    <a href="#"><img class="nav_hover" src="<%= image_path 'nav_home_label.png' %>" alt_src="<%= image_path 'nav_home_label_hover.png' %>" id="home" alt="Home"></a>
    </div>

    <div class="b">
    <a  href="#bootcamp"><img class="nav_hover" src="<%= image_path 'nav_bootcamp_label.png' %>" alt_src="<%= image_path 'nav_bootcamp_label_hover.png' %>" id="bootcamp" alt="Bootcamp"></a>
    </div>

    <div class="r">
    <a  href="#rules"><img class="nav_hover" src="<%= image_path 'nav_rules_label.png' %>" alt_src="<%= image_path 'nav_rules_label_hover.png' %>" id="rules" alt="Rules"></a>
    </div>

    <div class="s">
    <a   href="#schedule"><img class="nav_hover" src="<%= image_path 'nav_schedule_label.png' %>" alt_src="<%= image_path 'nav_schedule_label_hover.png' %>"  id="schedule" alt="Schedule"></a>
    </div>

    <div class="v">
    <a   href="#venue"><img class="nav_hover" src="<%= image_path 'nav_venue_label.png' %>" alt_src="<%= image_path 'nav_venue_label_hover.png' %>" id="venue" alt="Venue"></a>
    </div>

    <div class="p">
    <a   href="#prizes"><img class="nav_hover" src="<%= image_path 'nav_prizes_label.png' %>" alt_src="<%= image_path 'nav_prizes_label_hover.png' %>" id="prizes" alt="Prizes"></a>
    </div>

    <div class="m">
    <a   href="#myteam"><img class="nav_hover" src="<%= image_path 'nav_team_label.png' %>" alt_src="<%= image_path 'nav_team_label_hover.png' %>" id="team" alt="Team"></a>
    </div>

    <p class = "copyright">
      &copy; 2012 VMware
    </p>

</div>



