<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta property="og:title" content="Contributingcode" />
	<meta property="og:type" content="non_profit" />
	<meta property="og:url" content=<%= @team.site %> />
	<meta property="og:image" content="http://contributingcode.cloudfoundry.com/assets/logo-ccf33e01698d17b45042574587b79986.png" />
  <meta property="og:description" content="#ContributingCode Winner" />
	
  <link rel="image_src" 
      type="image/jpeg" 
      href="/assets/logo.png" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag   "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><img src="<%= image_path 'logo_mini_+vmware.png' %>"></a>
        <div class="pull-right">
        <a href="http://contributingcode.cloudfoundry.com/results">Results page</a>
      </div>
      </div>
    </div>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="span12" >
        <div class="content_pos">
          <div class="row-fluid space_top">
            <div class="span4">
              <div style='width:200px;height:200px;position:relative;'>
                   <img src=<%= @team.image_url %> class='big-avatar'>
              </div>
            </div>
            <div class="span8">
              <div class="row-fluid">
                <div class="span2"></div>
                <div class="span2"> <%= @winner.image.html_safe %></div>
                <div class="span8"><h1 class="maroon" style="padding-top:10px;"><%=@team.name%></h1></div> 
              </div>
              <h3 class="space_top">
                <%= @team.app_desc.html_safe %>
              </h3>
            </div>
          </div>
          <div class="row-fluid ">
            <div class="span6">
              
            </div>
            <div class="span2">
              <a href="<%=@team.site%>" class='btn btn-large' target="_blank">Visit App</a>
            </div>
            <div class="span3">
              <a href="<%=@team.repo%>" class='btn btn-large' target="_blank">Fork on GitHub</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h2 class="space_top">Team</h2>
            <% @team.team_members.each do |member| %>
              <img class='small-avatar' style="margin-top: 30px;" src="<%= member.user.avatar %>">
              <a href='<%= get_url(member.user_handle) %>'><%= member.user.name %></a>
              <br>
            <% end %>
            </div>
            <div class="span9">
              <div style="padding:40px 40px 40px 80px">
              <iframe src="http://presvo.com/5c09ec0#/step-1" width="600" height="500" style="border:none;"> </iframe> 
              <!-- <img src="/assets/team<%=@team.rank%>.png"> -->
            </div>
            </div>
          </div>
					<div class="fb-like" data-href=<%= @team.site %> data-send="true" data-width="450" data-show-faces="true" data-></div>
					<div id="fb-root"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
	<script>
		(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=383833141652123";
	  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</html>