<!DOCTYPE html>
<html>
<head>
	<meta property="og:title" content="Contributingcode" />
	<meta property="og:type" content="non_profit" />
	<meta property="og:url" content=<%= @team.site %> />
	<meta property="og:image" content="http://contributingcode.cloudfoundry.com/assets/logo-ccf33e01698d17b45042574587b79986.png" />
	<meta property="og:site_name" content="#contributingcode" />
  <link rel="image_src" 
      type="image/jpeg" 
      href="/assets/logo.png" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag   "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><img src="<%= image_path 'logo_mini_+vmware.png' %>"></a>
      </div>
    </div>

    <a href=<%= @team.repo %> target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12" >
        <div class="content_pos">
          <div class="row-fluid space_top">
            <div class="span4">
              <div style="width:100px;height:120px;position:relative;">

              <div style='width:100px;height:120px;position:relative;'>
                   <img src=<%= @team.image_url %> class='prize-avatar'>
                    <%= @winner.image.html_safe %>
              </div>
              </div>
            </div>
            <div class="span8">
              <h1 class="maroon"><%=@team.name%></h1>
              <h3>
                <%= @team.app_desc.html_safe %>
              </h3>
            </div>
          </div>
          <div class="row-fluid space_top">
            <div class="span4">
              
            </div>
            <div class="span8">
              App url : <a href="<%=@team.site%>" target="_blank"><%=@team.site%></a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h2 class="space_top">Members</h2>
            <% @team.team_members.each do |member| %>
              <img class='small-avatar' style="margin-top: 30px;" src="<%= member.user.avatar %>">
              <a href='<%= get_url(member.user_handle) %>'><%= member.user.name %></a>
              <br>
            <% end %>
            </div>
            <div class="span9">
              <div style="padding:40px 40px 40px 80px">
              <iframe src="http://presvo.com/5c09ec0#/step-1" width="600" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe> 
              <!-- <img src="/assets/team<%=@team.rank%>.png"> -->
            </div>
            </div>
          </div>
					<div class="fb-like" data-href=<%= @team.site %> data-send="true" data-width="450" data-show-faces="true" data-></div>
					<div id="fb-root"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
	<script>
		(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=383833141652123";
	  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</html>